force-app/main/default/flows/Twilio_Verify.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Verification</name>
        <label>Check Verification</label>
        <locationX>979</locationX>
        <locationY>1262</locationY>
        <actionName>TwilioVerifyCheckVerificationServices</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Valid</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Code</name>
            <value>
                <elementReference>Code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceSid</name>
            <value>
                <elementReference>VerifyServiceSID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>To</name>
            <value>
                <elementReference>To</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Start_Verification</name>
        <label>Start Verification</label>
        <locationX>635</locationX>
        <locationY>282</locationY>
        <actionName>TwilioVerifyStartVerificationServices</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Channel</name>
            <value>
                <elementReference>Channel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceSid</name>
            <value>
                <elementReference>VerifyServiceSID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>To</name>
            <value>
                <elementReference>To</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Error_Message_1</name>
        <label>Assign Error Message</label>
        <locationX>502</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>Error_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Verification.code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Verification.message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Message_2</name>
        <label>Assign Error Message</label>
        <locationX>321</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>Error_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Verification.code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Verification.message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Output_Variables</name>
        <label>Assign Output Variables</label>
        <locationX>153</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>VerifyStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerifyValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Screen_to_Variables</name>
        <label>Assign Screen to Variables</label>
        <locationX>1171</locationX>
        <locationY>761</locationY>
        <assignmentItems>
            <assignToReference>Channel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Channel_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>To_Input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Verification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Code_Screen_to_Code</name>
        <label>Set Code Screen to Code</label>
        <locationX>943</locationX>
        <locationY>869</locationY>
        <assignmentItems>
            <assignToReference>Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Code_Screen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Verification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Retry_Code_to_Code</name>
        <label>Set Retry Code to Code</label>
        <locationX>589</locationX>
        <locationY>1447</locationY>
        <assignmentItems>
            <assignToReference>Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Code_Retry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Verification</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SMS</name>
        <choiceText>SMS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>sms</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Voice</name>
        <choiceText>Voice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>call</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_All_Input_Fields</name>
        <label>Check All Input Fields</label>
        <locationX>910</locationX>
        <locationY>269</locationY>
        <defaultConnector>
            <targetReference>Setup_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Valid_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Channel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>To</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VerifyServiceSID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Verification</targetReference>
            </connector>
            <label>All Valid Values</label>
        </rules>
        <rules>
            <name>Has_Verify_Service_SID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerifyServiceSID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Channel_Screen</targetReference>
            </connector>
            <label>Has Verify Service SID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>526</locationX>
        <locationY>387</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Start_Verification.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_Verification_Token</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Has_Error_Message_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Start_Verification.code</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Start_Verification.message</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_Message_2</targetReference>
            </connector>
            <label>Has Error Message</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Valid</name>
        <label>Check Valid</label>
        <locationX>635</locationX>
        <locationY>1132</locationY>
        <defaultConnector>
            <targetReference>Assign_Output_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Verification.status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_Verification_Token_Retry</targetReference>
            </connector>
            <label>Not Valid</label>
        </rules>
        <rules>
            <name>Has_Error_Message_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Check_Verification.message</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Verification.code</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_Message_1</targetReference>
            </connector>
            <label>Has Error Message</label>
        </rules>
    </decisions>
    <interviewLabel>Twilio Verify {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Twilio Verify</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Channel_Screen</name>
        <label>Channel Screen</label>
        <locationX>1186</locationX>
        <locationY>421</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>To_Screen</targetReference>
        </connector>
        <fields>
            <name>Channel_Picklist</name>
            <choiceReferences>Choice_SMS</choiceReferences>
            <choiceReferences>Choice_Voice</choiceReferences>
            <choiceReferences>Choice_Email</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Channel_Picklist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This will check whether the user-provided token is correct.</description>
        <name>Check_the_Verification_Token</name>
        <label>Check the Verification Token</label>
        <locationX>805</locationX>
        <locationY>765</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Code_Screen_to_Code</targetReference>
        </connector>
        <fields>
            <name>Code_Screen</name>
            <dataType>String</dataType>
            <fieldText>Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Check_the_Verification_Token_Retry</name>
        <label>Check the Verification Token Retry</label>
        <locationX>50</locationX>
        <locationY>1087</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Retry_Code_to_Code</targetReference>
        </connector>
        <fields>
            <name>Code_Retry_Text</name>
            <fieldText>&lt;p&gt;The code you provide is incorrect. Please re-enter a valid code.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Code_Retry</name>
            <dataType>String</dataType>
            <fieldText>Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>110</locationX>
        <locationY>753</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OAuth_Error_Text</name>
            <fieldText>&lt;p&gt;An error has occur. Here is error details:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Code: {!Error_Code}&lt;/p&gt;&lt;p&gt;Message: {!Error_Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Setup_Screen</name>
        <label>Setup Screen</label>
        <locationX>1435</locationX>
        <locationY>338</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Setup_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Setup_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Header</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Twilio Verify&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Logo</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>Twilio_Verify_Logo</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>500</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>500</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Setup_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Setup_Text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;As part of Twilio&apos;s account security offerings, the Twilio Verify API makes it simple to add user verification to your web application. It supports codes sent via voice, SMS, and&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.twilio.com/docs/verify/email&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;email&lt;/a&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Prerequisite&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;You will need the following:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://www.twilio.com/try-twilio&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;Twilio Account&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://www.twilio.com/console&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;Account SID and Auth Token&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://www.twilio.com/console/verify/services&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;Verify Service SID&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Getting Started&lt;/span&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Twilio Credentials&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Verify Service&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Twilio Credentials&lt;/span&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Go to Setup &amp;gt; Quick Find &amp;gt; Named Credentials.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;Click on &lt;b&gt;Twilio Verify&lt;/b&gt;.&lt;/li&gt;&lt;li&gt;Click &lt;b&gt;Edit&lt;/b&gt;.&lt;/li&gt;&lt;li&gt;In the &lt;b&gt;Username &lt;/b&gt;text field add your Twilio Account SID.&lt;/li&gt;&lt;li&gt;In the &lt;b&gt;Password &lt;/b&gt;text field add your Twilio Auth Token.&lt;/li&gt;&lt;li&gt;Click &lt;b&gt;Save&lt;/b&gt;.&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Verify Service&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Go to Setup &amp;gt; Quick Find &amp;gt; Flows.&lt;/li&gt;&lt;li&gt;Click on &lt;b&gt;Twilio Verify&lt;/b&gt;.&lt;/li&gt;&lt;li&gt;Under Toolbox, click &lt;b&gt;Manager&lt;/b&gt; tab.&lt;/li&gt;&lt;li&gt;Under Variables, click &lt;b&gt;VerifyServiceSID&lt;/b&gt;.&lt;/li&gt;&lt;li&gt;In the &lt;b&gt;Default Value&lt;/b&gt; text field add your Verify Service SID.&lt;/li&gt;&lt;li&gt;Click &lt;b&gt;Save&lt;/b&gt;.&lt;/li&gt;&lt;li&gt;Click &lt;b&gt;Save As&lt;/b&gt; and &lt;b&gt;Activate&lt;/b&gt;.&lt;/li&gt;&lt;/ol&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>To_Screen</name>
        <label>To Screen</label>
        <locationX>1165</locationX>
        <locationY>584</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Screen_to_Variables</targetReference>
        </connector>
        <fields>
            <name>To_Input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>To</elementReference>
            </defaultValue>
            <fieldText>To</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>647</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_All_Input_Fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Channel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Error_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>To</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VerifyServiceSID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>VAXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</stringValue>
        </value>
    </variables>
    <variables>
        <name>VerifyStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VerifyValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
